*.iml
.idea/
*.ipr
*.iws
**/*.iml

target/
*/target

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

release.properties
dependency-reduced-pom.xml
buildNumber.properties

.mvn/timing.properties

.project
.classpath
.settings/


package/src/main/package/appserver/tomcat
package/src/main/package/nami

!*.exe
